In [2]:
import os
import sys
print(sys.executable)

C:\Users\hl524\app-user-behavior-analysis\venv\Scripts\python.exe

In [3]:
import pandas as pd

In [4]:
os.getcwd()

'C:\\Users\\hl524\\app-user-behavior-analysis\\notebooks'

## ratings.csv

### 1. Basic info

In [5]:
# basic information
ratings_file_path = "../data/raw_data/ratings.csv"
ratings = pd.read_csv(ratings_file_path, header=0)

print("Data shape:", ratings.shape)
print("\nThe first 5 rows are:")
print(ratings.head())

print("\nThe last 5 rows are:")
print(ratings.tail())

print("\nThe data types are:")
print(ratings.dtypes)

print("\nThe descriptive statistics are:")
print(ratings.describe(include='all'))

Data shape: (100836, 4)

The first 5 rows are:
   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

The last 5 rows are:
        userId  movieId  rating   timestamp
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

The data types are:
userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

The descriptive statistics are:
              userId        movieId         rating     timestamp
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

In [6]:
ratings["userId"] = ratings["userId"].astype('category')
ratings["movieId"] = ratings["movieId"].astype('category')

In [7]:
ratings["userId"].dtype

CategoricalDtype(categories=[  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
                  ...
                  601, 602, 603, 604, 605, 606, 607, 608, 609, 610],
, ordered=False, categories_dtype=int64)

In [8]:
# change column timestamp to date
ratings['datetime'] = pd.to_datetime(ratings["timestamp"], unit='s')
ratings.head(5)

  userId movieId  rating  timestamp            datetime
0      1       1     4.0  964982703 2000-07-30 18:45:03
1      1       3     4.0  964981247 2000-07-30 18:20:47
2      1       6     4.0  964982224 2000-07-30 18:37:04
3      1      47     5.0  964983815 2000-07-30 19:03:35
4      1      50     5.0  964982931 2000-07-30 18:48:51

In [9]:
ratings['date'] = ratings['datetime'].dt.date
ratings.head(5)

  userId movieId  rating  timestamp            datetime        date
0      1       1     4.0  964982703 2000-07-30 18:45:03  2000-07-30
1      1       3     4.0  964981247 2000-07-30 18:20:47  2000-07-30
2      1       6     4.0  964982224 2000-07-30 18:37:04  2000-07-30
3      1      47     5.0  964983815 2000-07-30 19:03:35  2000-07-30
4      1      50     5.0  964982931 2000-07-30 18:48:51  2000-07-30

### 2. Check missing values

In [10]:
print("Missing values:")
print(ratings.isnull().sum())

Missing values:
userId       0
movieId      0
rating       0
timestamp    0
datetime     0
date         0
dtype: int64

In [11]:
# check duplicated value
ratings.duplicated().sum()

np.int64(0)

In [12]:
ratings.nunique()

userId         610
movieId       9724
rating          10
timestamp    85043
datetime     85043
date          4110
dtype: int64

In [13]:
ratings.to_csv('../data/processed_data/processed_ratings.csv', index=False, header=True)

## movies.csv

### 1. Basic info

In [14]:
# basic information
movies_file_path = "../data/raw_data/movies.csv"
movies = pd.read_csv(movies_file_path, header=0)

print("Data shape:", movies.shape)
print("\nThe first 5 rows are:")
print(movies.head())

print("\nThe last 5 rows are:")
print(movies.tail())

print("\nThe data types are:")
print(movies.dtypes)

print("\nThe descriptive statistics are:")
print(movies.describe(include='all'))

Data shape: (9742, 3)

The first 5 rows are:
   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy

The last 5 rows are:
      movieId                                      title  \
9737   193581  Black Butler: Book of the Atlantic (2017)
9738   193583               No Game No Life: Zero (2017)
9739   193585                               Flint (2017)
9740   193587        Bungo Stray Dogs: Dead Apple (2018)
9741   193609        Andrew Dice Clay: Dice Rules (1991)

                               genres
9737  Action|Animation|Comedy|Fantasy
9738         Animation|Comedy|Fantasy
9739                            Drama
9740                 Action|Animation
9741                           Comedy

The data types are:
movieId     int64
title      object
genres     object
dtype: object

The descriptive statistics are:
              movieId            title genres
count     9742.000000             9742   9742
unique            NaN             9737    951
top               NaN  Saturn 3 (1980)  Drama
freq              NaN                2   1053
mean     42200.353623              NaN    NaN
std      52160.494854              NaN    NaN
min          1.000000              NaN    NaN
25%       3248.250000              NaN    NaN
50%       7300.000000              NaN    NaN
75%      76232.000000              NaN    NaN
max     193609.000000              NaN    NaN

In [17]:
movies['movieId'] = movies['movieId'].astype('object')
movies['movieId'].dtype

dtype('O')

In [18]:
movies.to_csv("../data/processed_data/processed_movies.csv", index=False, header=True)

## tags.csv

In [19]:
tags_file_path = "../data/raw_data/tags.csv"
tags = pd.read_csv(tags_file_path, header=0)

print("Data shape:", tags.shape)
print("\nThe first 5 rows are:")
print(tags.head())

print("\nThe last 5 rows are:")
print(tags.tail())

print("\nThe data types are:")
print(tags.dtypes)

print("\nThe descriptive statistics are:")
print(tags.describe(include='all'))

Data shape: (3683, 4)

The first 5 rows are:
   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

The last 5 rows are:
      userId  movieId               tag   timestamp
3678     606     7382         for katie  1171234019
3679     606     7936           austere  1173392334
3680     610     3265            gun fu  1493843984
3681     610     3265  heroic bloodshed  1493843978
3682     610   168248  Heroic Bloodshed  1493844270

The data types are:
userId        int64
movieId       int64
tag          object
timestamp     int64
dtype: object

The descriptive statistics are:
             userId        movieId               tag     timestamp
count   3683.000000    3683.000000              3683  3.683000e+03
unique          NaN            NaN              1589           NaN
top             NaN            NaN  In Netflix queue           NaN
freq            NaN            NaN               131           NaN
mean     431.149335   27252.013576               NaN  1.320032e+09
std      158.472553   43490.558803               NaN  1.721025e+08
min        2.000000       1.000000               NaN  1.137179e+09
25%      424.000000    1262.500000               NaN  1.137521e+09
50%      474.000000    4454.000000               NaN  1.269833e+09
75%      477.000000   39263.000000               NaN  1.498457e+09
max      610.000000  193565.000000               NaN  1.537099e+09

In [20]:
tags['movieId'] = tags['movieId'].astype('object')
tags['userId'] = tags['userId'].astype('object')

tags['datetime'] = pd.to_datetime(tags['timestamp'], unit='s')
tags['date'] = tags['datetime'].dt.date

tags.head(5)

  userId movieId              tag   timestamp            datetime        date
0      2   60756            funny  1445714994 2015-10-24 19:29:54  2015-10-24
1      2   60756  Highly quotable  1445714996 2015-10-24 19:29:56  2015-10-24
2      2   60756     will ferrell  1445714992 2015-10-24 19:29:52  2015-10-24
3      2   89774     Boxing story  1445715207 2015-10-24 19:33:27  2015-10-24
4      2   89774              MMA  1445715200 2015-10-24 19:33:20  2015-10-24

In [21]:
tags.to_csv("../data/processed_data/processed_tags.csv", index=False, header=True)

## links.csv

In [23]:
links_file_path = "../data/raw_data/links.csv"
links = pd.read_csv(links_file_path, header=0)

print("Data shape:", links.shape)
print("\nThe first 5 rows are:")
print(links.head())

print("\nThe last 5 rows are:")
print(links.tail())

print("\nThe data types are:")
print(links.dtypes)

print("\nThe descriptive statistics are:")
print(links.describe(include='all'))

Data shape: (9742, 3)

The first 5 rows are:
   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

The last 5 rows are:
      movieId   imdbId    tmdbId
9737   193581  5476944  432131.0
9738   193583  5914996  445030.0
9739   193585  6397426  479308.0
9740   193587  8391976  483455.0
9741   193609   101726   37891.0

The data types are:
movieId      int64
imdbId       int64
tmdbId     float64
dtype: object

The descriptive statistics are:
             movieId        imdbId         tmdbId
count    9742.000000  9.742000e+03    9734.000000
mean    42200.353623  6.771839e+05   55162.123793
std     52160.494854  1.107228e+06   93653.481487
min         1.000000  4.170000e+02       2.000000
25%      3248.250000  9.518075e+04    9665.500000
50%      7300.000000  1.672605e+05   16529.000000
75%     76232.000000  8.055685e+05   44205.750000
max    193609.000000  8.391976e+06  525662.000000

根据这个数据集的描述，movieId, imbId, tmdbId 这几个字段只是对同一部电影在不同平台上的属称，判断后认为对数据的分析和探索没有特别大的实际作用，所以在接下来的分析过程中，我们将不考虑links.csv这个数据集。